Vorgehen:
1. df -> Liste
2. Mutanten, die Mutation X???X beinhalten rausfiltern
3. Mutanten, die Mutation X???X + Y!!!Y beinhalten rausfiltern
4. usw.

In [48]:
import pandas as pd
import numpy as np

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

# split into multiple columns, 1 column for every mutation
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_48046/2323753459.py:10: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [49]:
# reduce df to fscore, m1 - m15
df_only_fscore_mutations = df_ind_col

df_only_fscore_mutations = df_only_fscore_mutations.drop(['mutant','mutated_sequence','DMS_score_bin'], axis=1)

df_only_fscore_mutations.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

# Liste mit DMS_score und m1 bis m15 erstellen
df_only_fscore_mutations = df_only_fscore_mutations.values.tolist()

print(df_only_fscore_mutations)
# funktioniert nicht

In [50]:
# df auf bestimmte Mutation checken
df_mutants_with_specific_mutation = df_only_fscore_mutations

mutation = 'D216A'

# 1 spez. Mutation in beliebiger Spalte
df_mutants_with_specific_mutation = df[df.isin([mutation]).any(axis=1)]

print(df_mutants_with_specific_mutation)

# dasselbe für 2 spezifische Mutationen
mutation_1 = 'K3R'
mutation_2 = 'V55A'
df_mutants_with_specific_mutation = df_mutants_with_specific_mutation[df_mutants_with_specific_mutation.isin([mutation_1, mutation_2]).any(axis=1)]

print(df_mutants_with_specific_mutation)

#Problem: es wird auf mutation_1 *oder* mutation_2 geprüft, wir wollen *und*

In [ ]:
# mutation_1 *und* mutation_2
mutation_1 = 'K3R'
mutation_2 = 'V55A'

mask = df_mutants_with_specific_mutation.isin([mutation_1, mutation_2]).sum(axis=1) == 2
df_mutants_with_specific_mutation = df_mutants_with_specific_mutation[mask]

print(df_mutants_with_specific_mutation)

In [51]:
# Lisas Code zum Rausschreiben v. allen möglichen Mutationen (modifiziert)
working_dataframe_only_ms = df_only_fscore_mutations.loc[:, ["m1", "m2", "m3", 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15']]
working_dataframe_only_ms.head()

all_possible_mutations = working_dataframe_only_ms.values.flatten().tolist()
all_possible_mutations = list(set(all_possible_mutations))
#hat einen none Wert, weil der auch ein Wert in der Liste ist -> wegmachen
while None in all_possible_mutations:
    all_possible_mutations.remove(None)

In [ ]:
print(all_possible_mutations)

In [ ]:
print(type(all_possible_mutations))

In [52]:
# mutation_1 und mutation_list
mutation_1 = 'K3R'
mutation_list = all_possible_mutations

# Maske, die alle Zeilen enthält
mask = pd.Series(True, index=df_mutants_with_specific_mutation.index)

# jede Mutation in mutation_list durchgehen; nur Zeilen erhalten, die mutation_1 und mutation beinhalten
for mutation in mutation_list:
    mask &= df_mutants_with_specific_mutation.isin([mutation_1, mutation]).any(axis=1)

df_mutants_with_specific_mutation = df_mutants_with_specific_mutation[mask]

print(df_mutants_with_specific_mutation)

      DMS_score   m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0      1.301030  K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
4      3.738586  K3R   None   None   None   None   None   None  None  None
5      3.851893  K3R   A87T  D173G   None   None   None   None  None  None
6      3.551648  K3R   A87T  N144S  T225S   None   None   None  None  None
7      1.480047  K3R   C48R   D76G  M218K   None   None   None  None  None
...         ...  ...    ...    ...    ...    ...    ...    ...   ...   ...
1254   3.608239  K3R  T108S   None   None   None   None   None  None  None
1255   3.740634  K3R  T108A  K166R   None   None   None   None  None  None
1256   3.489164  K3R  T108A  H139R   None   None   None   None  None  None
1257   3.315287  K3R  T118A  K140E   None   None   None   None  None  None
1258   3.361495  K3R  T108A  F165L  K166R   None   None   None  None  None

       m10   m11   m12   m13   m14   m15
0     None  None  None  None  None  None
4     None  None  None  None  None  None
5     None  None  None  None  None  None
6     None  None  None  None  None  None
7     None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...
1254  None  None  None  None  None  None
1255  None  None  None  None  None  None
1256  None  None  None  None  None  None
1257  None  None  None  None  None  None
1258  None  None  None  None  None  None

[525 rows x 16 columns]

In [56]:
# count values in m2
mutation_counts = df_mutants_with_specific_mutation['m2'].value_counts().reindex(all_possible_mutations, fill_value=0).loc[all_possible_mutations]

print(mutation_counts)

K131Q    0
T118S    1
L221Q    0
A179D    0
M153A    0
        ..
L141R    0
N121L    0
A87S     0
Q183E    0
S208T    0
Name: m2, Length: 1810, dtype: int64

In [57]:
print(type(mutation_counts))

<class 'pandas.core.series.Series'>

In [ ]:
# Zeilen mit counts < 2 löschen