In [63]:
import pandas as pd

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

# split into multiple columns, 1 column for every mutation
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_59530/3997050591.py:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [64]:
# reduce df to fscore, m1 - m15
df_only_fscore_mutations = df_ind_col

df_only_fscore_mutations = df_only_fscore_mutations.drop(['mutant','mutated_sequence','DMS_score_bin'], axis=1)

df_only_fscore_mutations.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [65]:
df_mutants_with_specific_mutation = df_only_fscore_mutations
df_mutants_with_specific_mutation.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [66]:
# Lisas Code zum Rausschreiben v. allen möglichen Mutationen (modifiziert)
# df nur mit m1 bis m15
working_dataframe_only_ms = df_only_fscore_mutations.loc[:, ['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15']]

In [67]:
# alle möglichen Mutationen rausschreiben
all_possible_mutations = working_dataframe_only_ms.values.flatten().tolist()
all_possible_mutations = list(set(all_possible_mutations))
#hat einen none Wert, weil der auch ein Wert in der Liste ist -> wegmachen
while None in all_possible_mutations:
    all_possible_mutations.remove(None)

In [68]:
# count all possible mutations for control
print(len(all_possible_mutations))

1810

In [69]:
# mind. 1 Mutation aus mutation_list muss vorhanden sein (zusätzlich zu mutation_1)
# Kontrolle, ob Code generell funktioniert; wenn ja sollte df 524 Zeilen besitzen (ist der Fall)
mutation_1 = 'K3R'
mutation_list = all_possible_mutations

# pd series, wobei false für jedes Objekt
mask_mutants_with_mutation_1_and_mutation_list = pd.Series(False, index=df_mutants_with_specific_mutation.index)

for mutation in mutation_list:
    # Zeile enthält mind. 1 Element aus mutation_list
    mask_mind_2 = df_mutants_with_specific_mutation.isin([mutation_1, mutation]).sum(axis=1) >= 2
    mask_mutants_with_mutation_1_and_mutation_list |= mask_mind_2

df_mutants_with_mutation_1_and_mutation_list = df_mutants_with_specific_mutation[mask_mutants_with_mutation_1_and_mutation_list]

print(df_mutants_with_mutation_1_and_mutation_list)

      DMS_score   m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0      1.301030  K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
5      3.851893  K3R   A87T  D173G   None   None   None   None  None  None
6      3.551648  K3R   A87T  N144S  T225S   None   None   None  None  None
7      1.480047  K3R   C48R   D76G  M218K   None   None   None  None  None
8      3.388889  K3R  D102G  N185D  L195P  H231P  E235K   None  None  None
...         ...  ...    ...    ...    ...    ...    ...    ...   ...   ...
1254   3.608239  K3R  T108S   None   None   None   None   None  None  None
1255   3.740634  K3R  T108A  K166R   None   None   None   None  None  None
1256   3.489164  K3R  T108A  H139R   None   None   None   None  None  None
1257   3.315287  K3R  T118A  K140E   None   None   None   None  None  None
1258   3.361495  K3R  T108A  F165L  K166R   None   None   None  None  None

       m10   m11   m12   m13   m14   m15
0     None  None  None  None  None  None
5     None  None  None  None  None  None
6     None  None  None  None  None  None
7     None  None  None  None  None  None
8     None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...
1254  None  None  None  None  None  None
1255  None  None  None  None  None  None
1256  None  None  None  None  None  None
1257  None  None  None  None  None  None
1258  None  None  None  None  None  None

[524 rows x 16 columns]

In [87]:
# count mutations in column m2 to m15 in df with mutants which include mutation_1
counts_m2 = df_mutants_with_mutation_1_and_mutation_list['m2'].value_counts()
counts_m3 = df_mutants_with_mutation_1_and_mutation_list['m3'].value_counts()
counts_m4 = df_mutants_with_mutation_1_and_mutation_list['m4'].value_counts()
counts_m5 = df_mutants_with_mutation_1_and_mutation_list['m5'].value_counts()
counts_m6 = df_mutants_with_mutation_1_and_mutation_list['m6'].value_counts()
counts_m7 = df_mutants_with_mutation_1_and_mutation_list['m7'].value_counts()
counts_m8 = df_mutants_with_mutation_1_and_mutation_list['m8'].value_counts()
counts_m9 = df_mutants_with_mutation_1_and_mutation_list['m9'].value_counts()
counts_m10 = df_mutants_with_mutation_1_and_mutation_list['m10'].value_counts()
counts_m11 = df_mutants_with_mutation_1_and_mutation_list['m11'].value_counts()
counts_m12 = df_mutants_with_mutation_1_and_mutation_list['m12'].value_counts()
counts_m13 = df_mutants_with_mutation_1_and_mutation_list['m13'].value_counts()
counts_m14 = df_mutants_with_mutation_1_and_mutation_list['m14'].value_counts()
counts_m15 = df_mutants_with_mutation_1_and_mutation_list['m15'].value_counts()

counts_m2_to_m15 = counts_m2.add(counts_m3, fill_value=0).add(counts_m4, fill_value=0).add(counts_m5, fill_value=0).add(counts_m6, fill_value=0).add(counts_m7, fill_value=0).add(counts_m8, fill_value=0).add(counts_m9, fill_value=0).add(counts_m10, fill_value=0).add(counts_m11, fill_value=0).add(counts_m12, fill_value=0).add(counts_m13, fill_value=0).add(counts_m14, fill_value=0).add(counts_m15, fill_value=0)

print(counts_m2_to_m15)

A110D    1.0
A110S    1.0
A110T    1.0
A110V    1.0
A154S    1.0
        ...
Y92C     1.0
Y92D     1.0
Y92F     1.0
Y92H     2.0
Y92N     1.0
Length: 658, dtype: float64

In [88]:
# nur noch Zeilen mit counts > 0 (in Spalte m2 bis m15)
counts_m2_to_m15_over_0 = counts_m2_to_m15[counts_m2_to_m15 != 0]

In [90]:
# nur noch Zeilen mit counts > 1 (in Spalte m2 bis m15)
counts_m2_to_m15_over_1 = counts_m2_to_m15_over_0[counts_m2_to_m15_over_0 != 1]

print(counts_m2_to_m15_over_1)

A227V    2.0
A87T     2.0
C48R     3.0
C70R     4.0
D102G    4.0
        ...
Y39H     6.0
Y66C     2.0
Y74C     3.0
Y74F     2.0
Y92H     2.0
Length: 394, dtype: float64

In [91]:
# mind. 1 Mutation aus mutation_m2_to_m15_over_1 muss vorhanden sein (zusätzlich zu mutation_1)
mutation_1 = 'K3R'
# turn row names of counts_m2_to_m15_over_8 into a list
mutation_m2_to_m15_over_1_list = counts_m2_to_m15_over_1.index.tolist()


# pd series, wobei false für jedes Objekt
mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_1 = pd.Series(False, index=df_mutants_with_specific_mutation.index)

for mutation in mutation_m2_to_m15_over_1_list:
    # Zeile enthält mind. 1 Element aus mutation_m2_to_m15_over_1_list
    mask_mind_2 = df_mutants_with_specific_mutation.isin([mutation_1, mutation]).sum(axis=1) >= 2
    mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_1 |= mask_mind_2

df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_1 = df_mutants_with_specific_mutation[mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_1]

print(df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_1)

      DMS_score   m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0      1.301030  K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
5      3.851893  K3R   A87T  D173G   None   None   None   None  None  None
6      3.551648  K3R   A87T  N144S  T225S   None   None   None  None  None
7      1.480047  K3R   C48R   D76G  M218K   None   None   None  None  None
8      3.388889  K3R  D102G  N185D  L195P  H231P  E235K   None  None  None
...         ...  ...    ...    ...    ...    ...    ...    ...   ...   ...
1253   1.538320  K3R   S28R   D36G   K79E  K113M  N135D   None  None  None
1255   3.740634  K3R  T108A  K166R   None   None   None   None  None  None
1256   3.489164  K3R  T108A  H139R   None   None   None   None  None  None
1257   3.315287  K3R  T118A  K140E   None   None   None   None  None  None
1258   3.361495  K3R  T108A  F165L  K166R   None   None   None  None  None

       m10   m11   m12   m13   m14   m15
0     None  None  None  None  None  None
5     None  None  None  None  None  None
6     None  None  None  None  None  None
7     None  None  None  None  None  None
8     None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...
1253  None  None  None  None  None  None
1255  None  None  None  None  None  None
1256  None  None  None  None  None  None
1257  None  None  None  None  None  None
1258  None  None  None  None  None  None

[509 rows x 16 columns]