In [1]:
import pandas as pd

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

In [2]:
# split into multiple columns, 1 column for every mutation
# copy df
df_ind_col = df.copy()

# split
df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15']] = \
df_ind_col['mutant'].str.split(':', 14, expand=True)

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_40040/3280448959.py:7: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col['mutant'].str.split(':', 14, expand=True)

In [3]:
# df with single mutation mutants, only position and DMS_score
# copy df
df_single = df_ind_col.copy()

# remain rows with None in m2
df_single = df_single[df_single['m2'].isnull()]

# delete columns m2 to m15 and mutant, mutated_sequence, DMS_score_bin
df_single = df_single.drop(
    columns=['m2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15', 'mutant',
             'mutated_sequence', 'DMS_score_bin'])

In [4]:
# df with double mutations mutants, only position and DMS_score
# copy df
df_double = df_ind_col.copy()

# remain rows with None in m3 and value in m2
df_double = df_double[df_double['m3'].isnull() & df_double['m2'].notnull()]

# delete columns m3 to m15 and mutant, mutated_sequence, DMS_score_bin
df_double = df_double.drop(
    columns=['m3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15', 'mutant',
             'mutated_sequence', 'DMS_score_bin'])

In [5]:
# add new empty columns 'score_single_1' and 'score_single_2' to df_double_only_position_m1
df_double['score_single_1'] = ''
df_double['score_single_2'] = ''

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2
13      3.716293    K3R  D133A
41      3.833353    K3N   S30Y
45      3.553744    K3N  V150A
53      3.688150    K3Q    E5V
56      3.619344    K3Q  K101R
...          ...    ...    ...            ...            ...
51688   3.577787  M233K  D234G
51691   3.744741  D234G  L236P
51694   3.865135  D234V  Y237H
51696   3.693903  D234G  E235V
51699   3.862731  E235G  L236P

[12777 rows x 5 columns]

In [6]:
# compare m1 from df_double with m1 from df_single, add value from DMS_score (df_single) to score_single_1 of df_double
for index, row in df_double.iterrows():
    for index2, row2 in df_single.iterrows():
        if row['m1'] == row2['m1']:
            df_double.loc[index, 'score_single_1'] = row2['DMS_score']

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2
13      3.716293    K3R  D133A       3.738586
41      3.833353    K3N   S30Y
45      3.553744    K3N  V150A
53      3.688150    K3Q    E5V       3.750487
56      3.619344    K3Q  K101R       3.750487
...          ...    ...    ...            ...            ...
51688   3.577787  M233K  D234G       3.684742
51691   3.744741  D234G  L236P       3.706313
51694   3.865135  D234V  Y237H       3.608266
51696   3.693903  D234G  E235V       3.706313
51699   3.862731  E235G  L236P       3.727375

[12777 rows x 5 columns]

In [7]:
# compare m2 from df_double with m1 from df_single, add value from DMS_score (df_single) to score_single_2 of df_double
for index, row in df_double.iterrows():
    for index2, row2 in df_single.iterrows():
        if row['m2'] == row2['m1']:
            df_double.loc[index, 'score_single_2'] = row2['DMS_score']

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2
13      3.716293    K3R  D133A       3.738586       3.540905
41      3.833353    K3N   S30Y                      3.752408
45      3.553744    K3N  V150A                       3.63642
53      3.688150    K3Q    E5V       3.750487       3.693551
56      3.619344    K3Q  K101R       3.750487       3.677711
...          ...    ...    ...            ...            ...
51688   3.577787  M233K  D234G       3.684742       3.706313
51691   3.744741  D234G  L236P       3.706313       3.706238
51694   3.865135  D234V  Y237H       3.608266       3.735417
51696   3.693903  D234G  E235V       3.706313       3.712191
51699   3.862731  E235G  L236P       3.727375       3.706238

[12777 rows x 5 columns]

In [12]:
# delete rows with empty values in score_single_1 or score_single_2
df_double = df_double[(df_double['score_single_1'] != '') & (df_double['score_single_2'] != '')]

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2
13      3.716293    K3R  D133A       3.738586       3.540905
53      3.688150    K3Q    E5V       3.750487       3.693551
56      3.619344    K3Q  K101R       3.750487       3.677711
63      1.301030    K3Q  Q183L       3.750487       1.442357
73      3.970988    K3R   E34V       3.738586       3.758329
...          ...    ...    ...            ...            ...
51688   3.577787  M233K  D234G       3.684742       3.706313
51691   3.744741  D234G  L236P       3.706313       3.706238
51694   3.865135  D234V  Y237H       3.608266       3.735417
51696   3.693903  D234G  E235V       3.706313       3.712191
51699   3.862731  E235G  L236P       3.727375       3.706238

[11954 rows x 5 columns]

### assign in/out to each mutation

In [14]:
# import excel sheet (postion of mutation, in/out)
df_in_out = pd.read_excel('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/AS_residues.xlsx', sheet_name='Sheet2')

In [67]:
# create a list with all positions with buried residues, these positions have value '1' in column 'in(1)/out(0)'
positions_in = df_in_out[df_in_out['in(1)/out(0)'] == 1]['position'].tolist()

In [86]:
# change data type of value from list positions_in to string
positions_in = [str(i) for i in positions_in]

In [87]:
# add columns 'position_m1' and 'position_m2' to df_double
df_double['position_m1'] = df_double['m1'].str[1:-1]
df_double['position_m2'] = df_double['m2'].str[1:-1]

In [88]:
# add empty columns 'm1_in/out' and 'm2_in/out' to df_double
df_double['m1_in/out'] = ''
df_double['m2_in/out'] = ''

In [89]:
# assign in/out to m1_in/out
for index, row in df_double.iterrows():
    if row['position_m1'] in positions_in:
        df_double.loc[index, 'm1_in/out'] = 'in'
    else:
        df_double.loc[index, 'm1_in/out'] = 'out'

In [90]:
# assign in/out to m2_in/out
for index, row in df_double.iterrows():
    if row['position_m2'] in positions_in:
        df_double.loc[index, 'm2_in/out'] = 'in'
    else:
        df_double.loc[index, 'm2_in/out'] = 'out'

In [91]:
print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
13      3.716293    K3R  D133A       3.738586       3.540905       out
53      3.688150    K3Q    E5V       3.750487       3.693551       out
56      3.619344    K3Q  K101R       3.750487       3.677711       out
63      1.301030    K3Q  Q183L       3.750487       1.442357       out
73      3.970988    K3R   E34V       3.738586       3.758329       out
...          ...    ...    ...            ...            ...       ...
51688   3.577787  M233K  D234G       3.684742       3.706313       out
51691   3.744741  D234G  L236P       3.706313       3.706238       out
51694   3.865135  D234V  Y237H       3.608266       3.735417       out
51696   3.693903  D234G  E235V       3.706313       3.712191       out
51699   3.862731  E235G  L236P       3.727375       3.706238       out

      m2_in/out   epistasis position position_m1 position_m2
13          out    weak pos                    3         133
53          out      no/neg                    3           5
56          out      no/neg                    3         101
63           in      no/neg                    3         183
73          out  strong pos                    3          34
...         ...         ...      ...         ...         ...
51688       out      no/neg                  233         234
51691       out  strong pos                  234         236
51694       out  strong pos                  234         237
51696       out      no/neg                  234         235
51699       out  strong pos                  235         236

[11954 rows x 11 columns]

In [94]:
# count m1_in/out
df_double['m1_in/out'].value_counts()

out    8571
in     3383
Name: m1_in/out, dtype: int64

In [95]:
# count m2_in/out
df_double['m2_in/out'].value_counts()

out    9258
in     2696
Name: m2_in/out, dtype: int64

### compare scores

In [96]:
# add empty column 'epistasis' to df_double
df_double['epistasis'] = ''

In [97]:
# compare scores
# if DMS_score > score_single_1 and DMS_score > score_single_2 --> epistasis = 'strong pos'
# if DMS_score < score_single_1 and DMS_score < score_single_2 --> epistasis = 'no/neg'
# else --> epistasis = 'weak pos'
for index, row in df_double.iterrows():
    if row['DMS_score'] > row['score_single_1'] and row['DMS_score'] > row['score_single_2']:
        df_double.loc[index, 'epistasis'] = 'strong pos'
    elif row['DMS_score'] < row['score_single_1'] and row['DMS_score'] < row['score_single_2']:
        df_double.loc[index, 'epistasis'] = 'no/neg'
    else:
        df_double.loc[index, 'epistasis'] = 'weak pos'

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
13      3.716293    K3R  D133A       3.738586       3.540905       out
53      3.688150    K3Q    E5V       3.750487       3.693551       out
56      3.619344    K3Q  K101R       3.750487       3.677711       out
63      1.301030    K3Q  Q183L       3.750487       1.442357       out
73      3.970988    K3R   E34V       3.738586       3.758329       out
...          ...    ...    ...            ...            ...       ...
51688   3.577787  M233K  D234G       3.684742       3.706313       out
51691   3.744741  D234G  L236P       3.706313       3.706238       out
51694   3.865135  D234V  Y237H       3.608266       3.735417       out
51696   3.693903  D234G  E235V       3.706313       3.712191       out
51699   3.862731  E235G  L236P       3.727375       3.706238       out

      m2_in/out   epistasis position position_m1 position_m2
13          out    weak pos                    3         133
53          out      no/neg                    3           5
56          out      no/neg                    3         101
63           in      no/neg                    3         183
73          out  strong pos                    3          34
...         ...         ...      ...         ...         ...
51688       out      no/neg                  233         234
51691       out  strong pos                  234         236
51694       out  strong pos                  234         237
51696       out      no/neg                  234         235
51699       out  strong pos                  235         236

[11954 rows x 11 columns]

In [98]:
# count number of strong pos, weak pos and no/neg
df_double['epistasis'].value_counts()

no/neg        6501
weak pos      3260
strong pos    2193
Name: epistasis, dtype: int64

### add pair character to df_double

In [111]:
# add empty column 'pair' to df_double
df_double['pair'] = ''

In [112]:
# add pair character to df_double
# if m1_in/out = in and m2_in/out = in --> pair = 'in-in'
# if m1_in/out = in and m2_in/out = out --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = in --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = out --> pair = 'out-out'
for index, row in df_double.iterrows():
    if row['m1_in/out'] == 'in' and row['m2_in/out'] == 'in':
        df_double.loc[index, 'pair'] = 'in-in'
    elif row['m1_in/out'] == 'in' and row['m2_in/out'] == 'out':
        df_double.loc[index, 'pair'] = 'in-out'
    elif row['m1_in/out'] == 'out' and row['m2_in/out'] == 'in':
        df_double.loc[index, 'pair'] = 'in-out'
    else:
        df_double.loc[index, 'pair'] = 'out-out'

print(df_double)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
13      3.716293    K3R  D133A       3.738586       3.540905       out
53      3.688150    K3Q    E5V       3.750487       3.693551       out
56      3.619344    K3Q  K101R       3.750487       3.677711       out
63      1.301030    K3Q  Q183L       3.750487       1.442357       out
73      3.970988    K3R   E34V       3.738586       3.758329       out
...          ...    ...    ...            ...            ...       ...
51688   3.577787  M233K  D234G       3.684742       3.706313       out
51691   3.744741  D234G  L236P       3.706313       3.706238       out
51694   3.865135  D234V  Y237H       3.608266       3.735417       out
51696   3.693903  D234G  E235V       3.706313       3.712191       out
51699   3.862731  E235G  L236P       3.727375       3.706238       out

      m2_in/out   epistasis position position_m1 position_m2     pair
13          out    weak pos                    3         133  out-out
53          out      no/neg                    3           5  out-out
56          out      no/neg                    3         101  out-out
63           in      no/neg                    3         183   in-out
73          out  strong pos                    3          34  out-out
...         ...         ...      ...         ...         ...      ...
51688       out      no/neg                  233         234  out-out
51691       out  strong pos                  234         236  out-out
51694       out  strong pos                  234         237  out-out
51696       out      no/neg                  234         235  out-out
51699       out  strong pos                  235         236  out-out

[11954 rows x 12 columns]

In [113]:
# count number of in-in, in-out and out-out
df_double['pair'].value_counts()

out-out    6673
in-out     4483
in-in       798
Name: pair, dtype: int64

### df mutants with strong positive epistasis

In [99]:
# copy df_double
df_strong_pos = df_double.copy()

# remain rows with strong pos
df_strong_pos = df_strong_pos[df_strong_pos['epistasis'] == 'strong pos']

In [102]:
# count rows (strong pos)
df_strong_pos['epistasis'].value_counts()

strong pos    2193
Name: epistasis, dtype: int64

### add pair character to df_strong_pos

In [103]:
# add empty column 'pair' to df_strong_pos
df_strong_pos['pair'] = ''

In [104]:
# add pair character to df_strong_pos
# if m1_in/out = in and m2_in/out = in --> pair = 'in-in'
# if m1_in/out = in and m2_in/out = out --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = in --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = out --> pair = 'out-out'
for index, row in df_strong_pos.iterrows():
    if row['m1_in/out'] == 'in' and row['m2_in/out'] == 'in':
        df_strong_pos.loc[index, 'pair'] = 'in-in'
    elif row['m1_in/out'] == 'in' and row['m2_in/out'] == 'out':
        df_strong_pos.loc[index, 'pair'] = 'in-out'
    elif row['m1_in/out'] == 'out' and row['m2_in/out'] == 'in':
        df_strong_pos.loc[index, 'pair'] = 'in-out'
    else:
        df_strong_pos.loc[index, 'pair'] = 'out-out'

print(df_strong_pos)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
73      3.970988    K3R   E34V       3.738586       3.758329       out
97      3.755081    K3R   E32V       3.738586       3.747646       out
238     3.704134    K3M  N164S       3.698336       3.671506       out
268     3.775845    K3R   K26R       3.738586        3.68966       out
288     3.883290    K3R   K52R       3.738586       3.677588       out
...          ...    ...    ...            ...            ...       ...
51667   3.758870  H231R  E235V       3.709842       3.712191       out
51677   3.869522  G232D  M233L       3.781376       3.681971       out
51691   3.744741  D234G  L236P       3.706313       3.706238       out
51694   3.865135  D234V  Y237H       3.608266       3.735417       out
51699   3.862731  E235G  L236P       3.727375       3.706238       out

      m2_in/out   epistasis position position_m1 position_m2     pair
73          out  strong pos                    3          34  out-out
97          out  strong pos                    3          32  out-out
238         out  strong pos                    3         164  out-out
268         out  strong pos                    3          26  out-out
288         out  strong pos                    3          52  out-out
...         ...         ...      ...         ...         ...      ...
51667       out  strong pos                  231         235  out-out
51677       out  strong pos                  232         233  out-out
51691       out  strong pos                  234         236  out-out
51694       out  strong pos                  234         237  out-out
51699       out  strong pos                  235         236  out-out

[2193 rows x 12 columns]

In [105]:
# count number of in-in, in-out and out-out
df_strong_pos['pair'].value_counts()

out-out    1542
in-out      590
in-in        61
Name: pair, dtype: int64

### df mutants with weak positive epistasis

In [106]:
# copy df_double
df_weak_pos = df_double.copy()

# remain rows with weak pos
df_weak_pos = df_weak_pos[df_weak_pos['epistasis'] == 'weak pos']

In [107]:
# count rows (weak pos)
df_weak_pos['epistasis'].value_counts()

weak pos    3260
Name: epistasis, dtype: int64

In [108]:
# add empty column 'pair' to df_weak_pos
df_weak_pos['pair'] = ''

In [109]:
# add pair character to df_weak_pos
# if m1_in/out = in and m2_in/out = in --> pair = 'in-in'
# if m1_in/out = in and m2_in/out = out --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = in --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = out --> pair = 'out-out'
for index, row in df_weak_pos.iterrows():
    if row['m1_in/out'] == 'in' and row['m2_in/out'] == 'in':
        df_weak_pos.loc[index, 'pair'] = 'in-in'
    elif row['m1_in/out'] == 'in' and row['m2_in/out'] == 'out':
        df_weak_pos.loc[index, 'pair'] = 'in-out'
    elif row['m1_in/out'] == 'out' and row['m2_in/out'] == 'in':
        df_weak_pos.loc[index, 'pair'] = 'in-out'
    else:
        df_weak_pos.loc[index, 'pair'] = 'out-out'

print(df_weak_pos)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
13      3.716293    K3R  D133A       3.738586       3.540905       out
135     3.710888    K3M  K158M       3.698336       3.732787       out
196     3.542358    K3M  K113E       3.698336       3.504341       out
242     3.675753    K3M   N23S       3.698336       3.593087       out
249     3.733838    K3M   Q80L       3.698336       3.738666       out
...          ...    ...    ...            ...            ...       ...
51635   3.705313  I229V  M233V       3.661197       3.739888       out
51651   3.676153  I229V  Y237C       3.661197       3.760217       out
51660   3.780106  T230A  G232D       3.695389       3.781376       out
51673   3.693197  H231Q  D234N       3.734298       3.582939       out
51682   3.646440  M233T  D234N       3.706713       3.582939       out

      m2_in/out epistasis position position_m1 position_m2     pair
13          out  weak pos                    3         133  out-out
135         out  weak pos                    3         158  out-out
196         out  weak pos                    3         113  out-out
242         out  weak pos                    3          23  out-out
249         out  weak pos                    3          80  out-out
...         ...       ...      ...         ...         ...      ...
51635       out  weak pos                  229         233  out-out
51651       out  weak pos                  229         237  out-out
51660       out  weak pos                  230         232  out-out
51673       out  weak pos                  231         234  out-out
51682       out  weak pos                  233         234  out-out

[3260 rows x 12 columns]

In [110]:
# count number of in-in, in-out and out-out
df_weak_pos['pair'].value_counts()

out-out    1706
in-out     1349
in-in       205
Name: pair, dtype: int64

### df mutants with no/negative epistasis

In [114]:
# copy df_double
df_no_neg = df_double.copy()

In [115]:
# remain rows with no/neg
df_no_neg = df_no_neg[df_no_neg['epistasis'] == 'no/neg']

In [116]:
# count rows (no/neg)
df_no_neg['epistasis'].value_counts()

no/neg    6501
Name: epistasis, dtype: int64

In [118]:
# add empty column 'pair' to df_no_neg
df_no_neg['pair'] = ''

In [119]:
# add pair character to df_no_neg
# if m1_in/out = in and m2_in/out = in --> pair = 'in-in'
# if m1_in/out = in and m2_in/out = out --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = in --> pair = 'in-out'
# if m1_in/out = out and m2_in/out = out --> pair = 'out-out'
for index, row in df_no_neg.iterrows():
    if row['m1_in/out'] == 'in' and row['m2_in/out'] == 'in':
        df_no_neg.loc[index, 'pair'] = 'in-in'
    elif row['m1_in/out'] == 'in' and row['m2_in/out'] == 'out':
        df_no_neg.loc[index, 'pair'] = 'in-out'
    elif row['m1_in/out'] == 'out' and row['m2_in/out'] == 'in':
        df_no_neg.loc[index, 'pair'] = 'in-out'
    else:
        df_no_neg.loc[index, 'pair'] = 'out-out'

print(df_no_neg)

       DMS_score     m1     m2 score_single_1 score_single_2 m1_in/out  \
53      3.688150    K3Q    E5V       3.750487       3.693551       out
56      3.619344    K3Q  K101R       3.750487       3.677711       out
63      1.301030    K3Q  Q183L       3.750487       1.442357       out
88      3.705394    K3R    E6G       3.738586       3.767719       out
100     3.505741    K3R   D36E       3.738586       3.633316       out
...          ...    ...    ...            ...            ...       ...
51656   3.668388  T230S  M233I       3.730767        3.71997       out
51659   3.604252  T230A  E235G       3.695389       3.727375       out
51664   3.641791  T230A  D234G       3.695389       3.706313       out
51688   3.577787  M233K  D234G       3.684742       3.706313       out
51696   3.693903  D234G  E235V       3.706313       3.712191       out

      m2_in/out epistasis position position_m1 position_m2     pair
53          out    no/neg                    3           5  out-out
56          out    no/neg                    3         101  out-out
63           in    no/neg                    3         183   in-out
88          out    no/neg                    3           6  out-out
100         out    no/neg                    3          36  out-out
...         ...       ...      ...         ...         ...      ...
51656       out    no/neg                  230         233  out-out
51659       out    no/neg                  230         235  out-out
51664       out    no/neg                  230         234  out-out
51688       out    no/neg                  233         234  out-out
51696       out    no/neg                  234         235  out-out

[6501 rows x 12 columns]

In [120]:
# count number of in-in, in-out and out-out
df_no_neg['pair'].value_counts()

out-out    3425
in-out     2544
in-in       532
Name: pair, dtype: int64