In [1]:
import pandas as pd

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

In [2]:
# split into multiple columns, 1 column for every mutation
# copy df
df_ind_col = df.copy()

# split
df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_4479/237483222.py:6: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

In [27]:
# df with single mutation mutants, only position and DMS_score
# copy df
df_single = df_ind_col.copy()

# remain rows with None in m2
df_single = df_single[df_single['m2'].isnull()]

# delete columns m2 to m15 and mutant, mutated_sequence, DMS_score_bin
df_single = df_single.drop(columns=['m2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9','m10', 'm11','m12','m13','m14','m15','mutant', 'mutated_sequence', 'DMS_score_bin'])

In [30]:
# df with double mutations mutants, only position and DMS_score
# copy df
df_double = df_ind_col.copy()

# remain rows with None in m3 and value in m2
df_double = df_double[df_double['m3'].isnull() & df_double['m2'].notnull()]

# delete columns m3 to m15 and mutant, mutated_sequence, DMS_score_bin
df_double = df_double.drop(columns=['m3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9','m10', 'm11','m12','m13','m14','m15','mutant', 'mutated_sequence', 'DMS_score_bin'])

In [34]:
# df with m1 from double mutation mutants
# copy df
df_double_m1 = df_double.copy()

# delete column m2
df_double_m1 = df_double_m1.drop(columns=['m2'])

In [36]:
# df with m2 from double mutation mutants
# copy df
df_double_m2 = df_double.copy()

# delete column m1
df_double_m2 = df_double_m2.drop(columns=['m1'])

In [42]:
# add new empty column 'score_single_1' to df_double_only_position_m1
df_double_m1['score_single_1'] = ''

print(df_double_m1)

       DMS_score     m1 score_single_1
13      3.716293    K3R
53      3.688150    K3Q
56      3.619344    K3Q
63      1.301030    K3Q
73      3.970988    K3R
...          ...    ...            ...
51688   3.577787  M233K
51691   3.744741  D234G
51694   3.865135  D234V
51696   3.693903  D234G
51699   3.862731  E235G

[12367 rows x 3 columns]

In [38]:
# compare m1 from df_double_m1 with m1 from df_single, add value from DMS_score (df_single) to score_single_1 of df_double_m1
for index, row in df_double_m1.iterrows():
    for index2, row2 in df_single.iterrows():
        if row['m1'] == row2['m1']:
            df_double_m1.loc[index, 'score_single_1'] = row2['DMS_score']

print(df_double_m1)

       DMS_score     m1  score_single_1
13      3.716293    K3R        3.738586
41      3.833353    K3N             NaN
45      3.553744    K3N             NaN
53      3.688150    K3Q        3.750487
56      3.619344    K3Q        3.750487
...          ...    ...             ...
51688   3.577787  M233K        3.684742
51691   3.744741  D234G        3.706313
51694   3.865135  D234V        3.608266
51696   3.693903  D234G        3.706313
51699   3.862731  E235G        3.727375

[12777 rows x 3 columns]

In [41]:
# delete rows with NaN in score_single_1
df_double_m1 = df_double_m1.dropna(subset=['score_single_1'])

print(df_double_m1)

       DMS_score     m1  score_single_1
13      3.716293    K3R        3.738586
53      3.688150    K3Q        3.750487
56      3.619344    K3Q        3.750487
63      1.301030    K3Q        3.750487
73      3.970988    K3R        3.738586
...          ...    ...             ...
51688   3.577787  M233K        3.684742
51691   3.744741  D234G        3.706313
51694   3.865135  D234V        3.608266
51696   3.693903  D234G        3.706313
51699   3.862731  E235G        3.727375

[12367 rows x 3 columns]

In [43]:
# add new empty column 'score_single_2' to df_double_m2
df_double_m2['score_single_2'] = ''

print(df_double_m2)

       DMS_score     m2 score_single_2
13      3.716293  D133A
41      3.833353   S30Y
45      3.553744  V150A
53      3.688150    E5V
56      3.619344  K101R
...          ...    ...            ...
51688   3.577787  D234G
51691   3.744741  L236P
51694   3.865135  Y237H
51696   3.693903  E235V
51699   3.862731  L236P

[12777 rows x 3 columns]

In [44]:
# compare m2 from df_double_m2 with m1 from df_single, add value from DMS_score (df_single) to score_single_2 of df_double_m2
for index, row in df_double_m2.iterrows():
    for index2, row2 in df_single.iterrows():
        if row['m2'] == row2['m1']:
            df_double_m2.loc[index, 'score_single_2'] = row2['DMS_score']

print(df_double_m2)

       DMS_score     m2 score_single_2
13      3.716293  D133A       3.540905
41      3.833353   S30Y       3.752408
45      3.553744  V150A        3.63642
53      3.688150    E5V       3.693551
56      3.619344  K101R       3.677711
...          ...    ...            ...
51688   3.577787  D234G       3.706313
51691   3.744741  L236P       3.706238
51694   3.865135  Y237H       3.735417
51696   3.693903  E235V       3.712191
51699   3.862731  L236P       3.706238

[12777 rows x 3 columns]