In [24]:
import pandas as pd
import numpy as np

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

# split into multiple columns, 1 column for every mutation
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_85334/2323753459.py:10: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [25]:
# reduce df to fscore, m1 - m15
df_only_fscore_mutations = df_ind_col

df_only_fscore_mutations = df_only_fscore_mutations.drop(['mutant','mutated_sequence','DMS_score_bin'], axis=1)

df_only_fscore_mutations.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [26]:
# only keep mutants with same m1
df_without_unique_m1 = df_only_fscore_mutations

df_without_unique_m1 = df_without_unique_m1[df_without_unique_m1['m1'].map(df_without_unique_m1['m1'].value_counts()) > 1]

df_without_unique_m1.head()
print(df_without_unique_m1)

       DMS_score     m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0       1.301030    K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
1       3.137350    K3Q   V16A  I167T  L195Q   None   None   None  None  None
2       1.553913    K3Q  Y143C  N164D  S205P  A227T   None   None  None  None
3       3.404237    K3Q  Y143N  V193A   None   None   None   None  None  None
4       3.738586    K3R   None   None   None   None   None   None  None  None
...          ...    ...    ...    ...    ...    ...    ...    ...   ...   ...
51694   3.865135  D234V  Y237H   None   None   None   None   None  None  None
51696   3.693903  D234G  E235V   None   None   None   None   None  None  None
51697   3.706313  D234G   None   None   None   None   None   None  None  None
51699   3.862731  E235G  L236P   None   None   None   None   None  None  None
51700   3.727375  E235G   None   None   None   None   None   None  None  None

        m10   m11   m12   m13   m14   m15
0      None  None  None  None  None  None
1      None  None  None  None  None  None
2      None  None  None  None  None  None
3      None  None  None  None  None  None
4      None  None  None  None  None  None
...     ...   ...   ...   ...   ...   ...
51694  None  None  None  None  None  None
51696  None  None  None  None  None  None
51697  None  None  None  None  None  None
51699  None  None  None  None  None  None
51700  None  None  None  None  None  None

[51421 rows x 16 columns]

In [27]:
# only keep mutants with same m1 and m2
# problem: same m2 but different m1
df_without_unique_m1_m2 = df_without_unique_m1

df_without_unique_m1_m2 = df_without_unique_m1_m2[df_without_unique_m1_m2['m2'].map(df_without_unique_m1['m2'].value_counts()) > 1]

df_without_unique_m1_m2.head()
print(df_without_unique_m1_m2)

       DMS_score     m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0       1.301030    K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
1       3.137350    K3Q   V16A  I167T  L195Q   None   None   None  None  None
2       1.553913    K3Q  Y143C  N164D  S205P  A227T   None   None  None  None
3       3.404237    K3Q  Y143N  V193A   None   None   None   None  None  None
5       3.851893    K3R   A87T  D173G   None   None   None   None  None  None
...          ...    ...    ...    ...    ...    ...    ...    ...   ...   ...
51688   3.577787  M233K  D234G   None   None   None   None   None  None  None
51691   3.744741  D234G  L236P   None   None   None   None   None  None  None
51694   3.865135  D234V  Y237H   None   None   None   None   None  None  None
51696   3.693903  D234G  E235V   None   None   None   None   None  None  None
51699   3.862731  E235G  L236P   None   None   None   None   None  None  None

        m10   m11   m12   m13   m14   m15
0      None  None  None  None  None  None
1      None  None  None  None  None  None
2      None  None  None  None  None  None
3      None  None  None  None  None  None
5      None  None  None  None  None  None
...     ...   ...   ...   ...   ...   ...
51688  None  None  None  None  None  None
51691  None  None  None  None  None  None
51694  None  None  None  None  None  None
51696  None  None  None  None  None  None
51699  None  None  None  None  None  None

[50276 rows x 16 columns]

In [37]:
# merge m1 and m2
df_merge_m1_m2 = df_without_unique_m1

df_merge_m1_m2['m1m2'] = df_merge_m1_m2['m1'].astype(str) + df_merge_m1_m2['m2'].astype(str)

print(df_merge_m1_m2)

       DMS_score     m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0       1.301030    K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
1       3.137350    K3Q   V16A  I167T  L195Q   None   None   None  None  None
2       1.553913    K3Q  Y143C  N164D  S205P  A227T   None   None  None  None
3       3.404237    K3Q  Y143N  V193A   None   None   None   None  None  None
4       3.738586    K3R   None   None   None   None   None   None  None  None
...          ...    ...    ...    ...    ...    ...    ...    ...   ...   ...
51694   3.865135  D234V  Y237H   None   None   None   None   None  None  None
51696   3.693903  D234G  E235V   None   None   None   None   None  None  None
51697   3.706313  D234G   None   None   None   None   None   None  None  None
51699   3.862731  E235G  L236P   None   None   None   None   None  None  None
51700   3.727375  E235G   None   None   None   None   None   None  None  None

        m10   m11   m12   m13   m14   m15        m1m2
0      None  None  None  None  None  None     K3RV55A
1      None  None  None  None  None  None     K3QV16A
2      None  None  None  None  None  None    K3QY143C
3      None  None  None  None  None  None    K3QY143N
4      None  None  None  None  None  None     K3RNone
...     ...   ...   ...   ...   ...   ...         ...
51694  None  None  None  None  None  None  D234VY237H
51696  None  None  None  None  None  None  D234GE235V
51697  None  None  None  None  None  None   D234GNone
51699  None  None  None  None  None  None  E235GL236P
51700  None  None  None  None  None  None   E235GNone

[51421 rows x 17 columns]

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_85334/870552319.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merge_m1_m2['m1m2'] = df_merge_m1_m2['m1'].astype(str) + df_merge_m1_m2['m2'].astype(str)

In [35]:
# keep rows with identical values in m1m2
# problem: rows with single mutations deleted
df_identical_m1m2 = df_merge_m1_m2

df_identical_m1m2 = df_identical_m1m2[df_identical_m1m2.duplicated(subset=['m1m2'], keep=False)]

df_identical_m1m2.head()
print(df_identical_m1m2)

       DMS_score     m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0       1.301030    K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
5       3.851893    K3R   A87T  D173G   None   None   None   None  None  None
6       3.551648    K3R   A87T  N144S  T225S   None   None   None  None  None
8       3.388889    K3R  D102G  N185D  L195P  H231P  E235K   None  None  None
9       3.499501    K3R  D102G  Y151C  N170D  I229T   None   None  None  None
...          ...    ...    ...    ...    ...    ...    ...    ...   ...   ...
51382   3.668358  K209R  M233V   None   None   None   None   None  None  None
51421   3.320783  N212D  K214R  E222V   None   None   None   None  None  None
51422   3.755231  N212D  K214R  M233V   None   None   None   None  None  None
51575   3.217648  F223S  V224A   None   None   None   None   None  None  None
51577   3.223593  F223S  V224A  E235V   None   None   None   None  None  None

        m10   m11   m12   m13   m14   m15        m1m2
0      None  None  None  None  None  None     K3RV55A
5      None  None  None  None  None  None     K3RA87T
6      None  None  None  None  None  None     K3RA87T
8      None  None  None  None  None  None    K3RD102G
9      None  None  None  None  None  None    K3RD102G
...     ...   ...   ...   ...   ...   ...         ...
51382  None  None  None  None  None  None  K209RM233V
51421  None  None  None  None  None  None  N212DK214R
51422  None  None  None  None  None  None  N212DK214R
51575  None  None  None  None  None  None  F223SV224A
51577  None  None  None  None  None  None  F223SV224A

[18583 rows x 17 columns]