In [2]:
import pandas as pd

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

In [3]:
# testen, ob richtig eingelesen (erste Zeilen printen)
df.head()

,mutant,mutated_sequence,DMS_score,DMS_score_bin
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1

In [8]:
# generate data frame that only include first column of original data frame
df_only_mutant = df[['mutant']]
df_only_mutant.head()

                                  mutant
0  K3R:V55A:Q94R:A110T:D117G:M153K:D216A
1                   K3Q:V16A:I167T:L195Q
2            K3Q:Y143C:N164D:S205P:A227T
3                        K3Q:Y143N:V193A
4                                    K3R

In [13]:
# split df_only_mutant into multiple columns
df_only_mutant[['m1', 'm2','m3','m4','m5','m6','m7','m8','m9','m10','m11']] = df_only_mutant['mutant'].str.split(':', 10, expand=True)

df_only_mutant.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_28735/1086344018.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_only_mutant[['m1', 'm2','m3','m4','m5','m6','m7','m8','m9','m10','m11']] = df_only_mutant['mutant'].str.split(':', 10, expand=True)

,mutant,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None
1,K3Q:V16A:I167T:L195Q,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None
3,K3Q:Y143N:V193A,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None
4,K3R,K3R,None,None,None,None,None,None,None,None,None,None

In [22]:
# split mutant column of df into multiple columns
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_28735/1231114987.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None