In [56]:
import pandas as pd
import numpy as np

In [2]:
# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

In [9]:
# split first column of df into multiple columns
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_30748/1601352256.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m1_old,m1_position,m1_new
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,,K,3R
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,,K,3Q
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,,K,3Q
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,,K,3Q
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,,K,3R

In [12]:
# split column m1 into m1_old, m1_position and m1_new
df_split_m1 = df_ind_col

df_split_m1[['m1_old','m1_position','m1_new']] = df_split_m1['m1'].str.split('', 2, expand=True)

df_split_m1.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_30748/1877878909.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_split_m1[['m1_old','m1_position','m1_new']] = df_split_m1['m1'].str.split('', 2, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m1_old,m1_position,m1_new
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,,K,3R
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,,K,3Q
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,,K,3Q
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,,K,3Q
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,,K,3R

In [59]:
# split characters of m1
def split_char(x):
    return pd.Series(list(x))

df_char_m1 = df
df_char_m1 = df_char_m1['m1'].apply(split_char)

print(df_char_m1)
df_char_m1.head()

       0  1  2    3    4
0      K  3  R  NaN  NaN
1      K  3  Q  NaN  NaN
2      K  3  Q  NaN  NaN
3      K  3  Q  NaN  NaN
4      K  3  R  NaN  NaN
...   .. .. ..  ...  ...
51709  Y  2  3    7    N
51710  Y  2  3    7    C
51711  Y  2  3    7    D
51712  Y  2  3    7    F
51713  Y  2  3    7    H

[51714 rows x 5 columns]

   0  1  2    3    4
0  K  3  R  NaN  NaN
1  K  3  Q  NaN  NaN
2  K  3  Q  NaN  NaN
3  K  3  Q  NaN  NaN
4  K  3  R  NaN  NaN

In [37]:
# move all new AS to column 4
df_moved_char_m1 = df_char_m1

df_moved_char_m1.loc[df_moved_char_m1['3'].str.contains('NaN'), '4'] = df_moved_char_m1['2']
print(df_moved_char_m1)

KeyError: '2'

In [58]:
# move all values from column 2 to column 4
df_2_to_4 = df_char_m1

df_2_to_4['4'] = df_2_to_4['2']

print(df_2_to_4)

KeyError: '2'