In [60]:
import pandas as pd
import numpy as np

In [61]:
# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

In [91]:
# split first column of df into multiple columns
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_30748/1601352256.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11']] = df_ind_col['mutant'].str.split(':', 10, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m1_old,m1_position,m1_new
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,,K,K
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,,K,K
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,,K,K
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,,K,K
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,,K,K

In [63]:
# zu komplizierter Ansatz!!!
# split column m1 into m1_old, m1_position and m1_new
df_split_m1 = df_ind_col

df_split_m1[['m1_old','m1_position','m1_new']] = df_split_m1['m1'].str.split('', 2, expand=True)

df_split_m1.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_30748/1877878909.py:4: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_split_m1[['m1_old','m1_position','m1_new']] = df_split_m1['m1'].str.split('', 2, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m1_old,m1_position,m1_new
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,,K,3R
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,,K,3Q
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,,K,3Q
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,,K,3Q
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,,K,3R

In [68]:
# zu komplizierter Ansatz!!!
# split characters of m1
def split_charac(x):
    return pd.Series(list(x))

df_char_m1 = df
df_char_m1 = df_char_m1['m1'].apply(split_charac)

print(df_char_m1)

       0  1  2    3    4
0      K  3  R  NaN  NaN
1      K  3  Q  NaN  NaN
2      K  3  Q  NaN  NaN
3      K  3  Q  NaN  NaN
4      K  3  R  NaN  NaN
...   .. .. ..  ...  ...
51709  Y  2  3    7    N
51710  Y  2  3    7    C
51711  Y  2  3    7    D
51712  Y  2  3    7    F
51713  Y  2  3    7    H

[51714 rows x 5 columns]

In [79]:
# zu komplizierter Ansatz!!!
# move all new AS to column 4

# für Positionen mit 1 Ziffer
df_moved_char_m1 = df_char_m1

df_moved_char_m1[df_moved_char_m1[3].str.contains('NaN'), '4'] = df_moved_char_m1[2]
print(df_moved_char_m1)

# dasselbe noch für Positionen mit 2 Ziffernb

TypeError: unhashable type: 'Series'

In [85]:
# Bsp. f. Ansatz mit Intervallen
aa = 'A123B'
int(aa[1:-1])

123

In [98]:
# Trennung m1 mit neuem Ansatz
# Kann man den Code noch kürzen?
df_new_pos_old = df_ind_col

df_new_pos_old['m1_old'] = df_new_pos_old['m1'].str[:1]
df_new_pos_old['m1_position'] = df_new_pos_old['m1'].str[1:-1]
df_new_pos_old['m1_new'] = df_new_pos_old['m1'].str[-1:]

df_new_pos_old['m2_old'] = df_new_pos_old['m2'].str[:1]
df_new_pos_old['m2_position'] = df_new_pos_old['m2'].str[1:-1]
df_new_pos_old['m2_new'] = df_new_pos_old['m2'].str[-1:]

df_new_pos_old['m3_old'] = df_new_pos_old['m3'].str[:1]
df_new_pos_old['m3_position'] = df_new_pos_old['m3'].str[1:-1]
df_new_pos_old['m3_new'] = df_new_pos_old['m3'].str[-1:]

df_new_pos_old['m4_old'] = df_new_pos_old['m4'].str[:1]
df_new_pos_old['m4_position'] = df_new_pos_old['m4'].str[1:-1]
df_new_pos_old['m4_new'] = df_new_pos_old['m4'].str[-1:]

df_new_pos_old['m5_old'] = df_new_pos_old['m5'].str[:1]
df_new_pos_old['m5_position'] = df_new_pos_old['m5'].str[1:-1]
df_new_pos_old['m5_new'] = df_new_pos_old['m5'].str[-1:]

df_new_pos_old['m6_old'] = df_new_pos_old['m6'].str[:1]
df_new_pos_old['m6_position'] = df_new_pos_old['m6'].str[1:-1]
df_new_pos_old['m6_new'] = df_new_pos_old['m6'].str[-1:]

df_new_pos_old['m7_old'] = df_new_pos_old['m7'].str[:1]
df_new_pos_old['m7_position'] = df_new_pos_old['m7'].str[1:-1]
df_new_pos_old['m7_new'] = df_new_pos_old['m7'].str[-1:]

df_new_pos_old['m8_old'] = df_new_pos_old['m8'].str[:1]
df_new_pos_old['m8_position'] = df_new_pos_old['m8'].str[1:-1]
df_new_pos_old['m8_new'] = df_new_pos_old['m8'].str[-1:]

df_new_pos_old['m9_old'] = df_new_pos_old['m9'].str[:1]
df_new_pos_old['m9_position'] = df_new_pos_old['m9'].str[1:-1]
df_new_pos_old['m9_new'] = df_new_pos_old['m9'].str[-1:]

df_new_pos_old['m10_old'] = df_new_pos_old['m10'].str[:1]
df_new_pos_old['m10_position'] = df_new_pos_old['m10'].str[1:-1]
df_new_pos_old['m10_new'] = df_new_pos_old['m10'].str[-1:]

df_new_pos_old['m11_old'] = df_new_pos_old['m11'].str[:1]
df_new_pos_old['m11_position'] = df_new_pos_old['m11'].str[1:-1]
df_new_pos_old['m11_new'] = df_new_pos_old['m11'].str[-1:]

df_new_pos_old.head()

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,...,m8_new,m9_old,m9_position,m9_new,m10_old,m10_position,m10_new,m11_old,m11_position,m11_new
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,...,None,None,None,None,None,None,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,...,None,None,None,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,...,None,None,None,None,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None