In [63]:
import pandas as pd

# Datensatz einlesen
df = pd.read_csv('/Users/tianxinangelama/Documents/Studium/4. FS/DMS/DMS_data/GFP_AEQVI_Sarkisyan_2016.csv')

# split into multiple columns, 1 column for every mutation
df_ind_col = df

df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

df_ind_col.head()

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_59530/3997050591.py:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_ind_col[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11','m12','m13','m14','m15']] = df_ind_col['mutant'].str.split(':', 14, expand=True)

,mutant,mutated_sequence,DMS_score,DMS_score_bin,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,K3R:V55A:Q94R:A110T:D117G:M153K:D216A,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.301030,0,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,K3Q:V16A:I167T:L195Q,MSQGEELFTGVVPILAELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.137350,1,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,K3Q:Y143C:N164D:S205P:A227T,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,1.553913,0,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,K3Q:Y143N:V193A,MSQGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.404237,1,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,K3R,MSRGEELFTGVVPILVELDGDVNGHKFSVSGEGEGDATYGKLTLKF...,3.738586,1,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [64]:
# reduce df to fscore, m1 - m15
df_only_fscore_mutations = df_ind_col

df_only_fscore_mutations = df_only_fscore_mutations.drop(['mutant','mutated_sequence','DMS_score_bin'], axis=1)

df_only_fscore_mutations.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [65]:
df_mutants_with_specific_mutation = df_only_fscore_mutations
df_mutants_with_specific_mutation.head()

,DMS_score,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15
0,1.301030,K3R,V55A,Q94R,A110T,D117G,M153K,D216A,None,None,None,None,None,None,None,None
1,3.137350,K3Q,V16A,I167T,L195Q,None,None,None,None,None,None,None,None,None,None,None
2,1.553913,K3Q,Y143C,N164D,S205P,A227T,None,None,None,None,None,None,None,None,None,None
3,3.404237,K3Q,Y143N,V193A,None,None,None,None,None,None,None,None,None,None,None,None
4,3.738586,K3R,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [66]:
# Lisas Code zum Rausschreiben v. allen möglichen Mutationen (modifiziert)
# df nur mit m1 bis m15
working_dataframe_only_ms = df_only_fscore_mutations.loc[:, ['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'm13', 'm14', 'm15']]

In [67]:
# alle möglichen Mutationen rausschreiben
all_possible_mutations = working_dataframe_only_ms.values.flatten().tolist()
all_possible_mutations = list(set(all_possible_mutations))
#hat einen none Wert, weil der auch ein Wert in der Liste ist -> wegmachen
while None in all_possible_mutations:
    all_possible_mutations.remove(None)

In [68]:
# count all possible mutations for control
print(len(all_possible_mutations))

1810

In [69]:
# mind. 1 Mutation aus mutation_list muss vorhanden sein (zusätzlich zu mutation_1)
# Kontrolle, ob Code generell funktioniert; wenn ja sollte df 524 Zeilen besitzen (ist der Fall)
mutation_1 = 'K3R'
mutation_list = all_possible_mutations

# pd series, wobei false für jedes Objekt
mask_mutants_with_mutation_1_and_mutation_list = pd.Series(False, index=df_mutants_with_specific_mutation.index)

for mutation in mutation_list:
    # Zeile enthält mind. 1 Element aus mutation_list
    mask_mind_2 = df_mutants_with_specific_mutation.isin([mutation_1, mutation]).sum(axis=1) >= 2
    mask_mutants_with_mutation_1_and_mutation_list |= mask_mind_2

df_mutants_with_mutation_1_and_mutation_list = df_mutants_with_specific_mutation[mask_mutants_with_mutation_1_and_mutation_list]

print(df_mutants_with_mutation_1_and_mutation_list)

      DMS_score   m1     m2     m3     m4     m5     m6     m7    m8    m9  \
0      1.301030  K3R   V55A   Q94R  A110T  D117G  M153K  D216A  None  None
5      3.851893  K3R   A87T  D173G   None   None   None   None  None  None
6      3.551648  K3R   A87T  N144S  T225S   None   None   None  None  None
7      1.480047  K3R   C48R   D76G  M218K   None   None   None  None  None
8      3.388889  K3R  D102G  N185D  L195P  H231P  E235K   None  None  None
...         ...  ...    ...    ...    ...    ...    ...    ...   ...   ...
1254   3.608239  K3R  T108S   None   None   None   None   None  None  None
1255   3.740634  K3R  T108A  K166R   None   None   None   None  None  None
1256   3.489164  K3R  T108A  H139R   None   None   None   None  None  None
1257   3.315287  K3R  T118A  K140E   None   None   None   None  None  None
1258   3.361495  K3R  T108A  F165L  K166R   None   None   None  None  None

       m10   m11   m12   m13   m14   m15
0     None  None  None  None  None  None
5     None  None  None  None  None  None
6     None  None  None  None  None  None
7     None  None  None  None  None  None
8     None  None  None  None  None  None
...    ...   ...   ...   ...   ...   ...
1254  None  None  None  None  None  None
1255  None  None  None  None  None  None
1256  None  None  None  None  None  None
1257  None  None  None  None  None  None
1258  None  None  None  None  None  None

[524 rows x 16 columns]

In [87]:
# count mutations in column m2 to m15 in df with mutants which include mutation_1
counts_m2 = df_mutants_with_mutation_1_and_mutation_list['m2'].value_counts()
counts_m3 = df_mutants_with_mutation_1_and_mutation_list['m3'].value_counts()
counts_m4 = df_mutants_with_mutation_1_and_mutation_list['m4'].value_counts()
counts_m5 = df_mutants_with_mutation_1_and_mutation_list['m5'].value_counts()
counts_m6 = df_mutants_with_mutation_1_and_mutation_list['m6'].value_counts()
counts_m7 = df_mutants_with_mutation_1_and_mutation_list['m7'].value_counts()
counts_m8 = df_mutants_with_mutation_1_and_mutation_list['m8'].value_counts()
counts_m9 = df_mutants_with_mutation_1_and_mutation_list['m9'].value_counts()
counts_m10 = df_mutants_with_mutation_1_and_mutation_list['m10'].value_counts()
counts_m11 = df_mutants_with_mutation_1_and_mutation_list['m11'].value_counts()
counts_m12 = df_mutants_with_mutation_1_and_mutation_list['m12'].value_counts()
counts_m13 = df_mutants_with_mutation_1_and_mutation_list['m13'].value_counts()
counts_m14 = df_mutants_with_mutation_1_and_mutation_list['m14'].value_counts()
counts_m15 = df_mutants_with_mutation_1_and_mutation_list['m15'].value_counts()

counts_m2_to_m15 = counts_m2.add(counts_m3, fill_value=0).add(counts_m4, fill_value=0).add(counts_m5, fill_value=0).add(counts_m6, fill_value=0).add(counts_m7, fill_value=0).add(counts_m8, fill_value=0).add(counts_m9, fill_value=0).add(counts_m10, fill_value=0).add(counts_m11, fill_value=0).add(counts_m12, fill_value=0).add(counts_m13, fill_value=0).add(counts_m14, fill_value=0).add(counts_m15, fill_value=0)

print(counts_m2_to_m15)

A110D    1.0
A110S    1.0
A110T    1.0
A110V    1.0
A154S    1.0
        ...
Y92C     1.0
Y92D     1.0
Y92F     1.0
Y92H     2.0
Y92N     1.0
Length: 658, dtype: float64

In [88]:
# nur noch Zeilen mit counts > 0 (in Spalte m2 bis m15)
counts_m2_to_m15_over_0 = counts_m2_to_m15[counts_m2_to_m15 != 0]

In [98]:
# nur noch Zeilen mit counts > 1 (in Spalte m2 bis m15)
counts_m2_to_m15_over_1 = counts_m2_to_m15_over_0[counts_m2_to_m15_over_0 != 1]

In [99]:
# nur noch Zeilen mit counts > 2 (in Spalte m2 bis m15)
counts_m2_to_m15_over_2 = counts_m2_to_m15_over_1[counts_m2_to_m15_over_1 != 2]

In [101]:
# nur noch Zeilen mit counts > 3 (in Spalte m2 bis m15)
counts_m2_to_m15_over_3 = counts_m2_to_m15_over_2[counts_m2_to_m15_over_2 != 3]

In [102]:
# nur noch Zeilen mit counts > 4 (in Spalte m2 bis m15)
counts_m2_to_m15_over_4 = counts_m2_to_m15_over_3[counts_m2_to_m15_over_3 != 4]

In [103]:
# nur noch Zeilen mit counts > 5 (in Spalte m2 bis m15)
counts_m2_to_m15_over_5 = counts_m2_to_m15_over_4[counts_m2_to_m15_over_4 != 5]

In [111]:
# nur noch Zeilen mit counts > 6 (in Spalte m2 bis m15)
counts_m2_to_m15_over_6 = counts_m2_to_m15_over_5[counts_m2_to_m15_over_5 != 6]

In [112]:
# nur noch Zeilen mit counts > 7 (in Spalte m2 bis m15)
counts_m2_to_m15_over_7 = counts_m2_to_m15_over_6[counts_m2_to_m15_over_6 != 7]

In [113]:
# nur noch Zeilen mit counts > 8 (in Spalte m2 bis m15)
counts_m2_to_m15_over_8 = counts_m2_to_m15_over_7[counts_m2_to_m15_over_7 != 8]

In [114]:
# nur noch Zeilen mit counts > 9 (in Spalte m2 bis m15)
counts_m2_to_m15_over_9 = counts_m2_to_m15_over_8[counts_m2_to_m15_over_8 != 9]

In [115]:
# nur noch Zeilen mit counts > 10 (in Spalte m2 bis m15)
counts_m2_to_m15_over_10 = counts_m2_to_m15_over_9[counts_m2_to_m15_over_9 != 10]

In [116]:
# nur noch Zeilen mit counts > 11 (in Spalte m2 bis m15)
counts_m2_to_m15_over_11 = counts_m2_to_m15_over_10[counts_m2_to_m15_over_10 != 11]

In [118]:
# nur noch Zeilen mit counts > 12 (in Spalte m2 bis m15)
counts_m2_to_m15_over_12 = counts_m2_to_m15_over_11[counts_m2_to_m15_over_11 != 12]

print(counts_m2_to_m15_over_12)

I229T    13.0
K113R    15.0
N23S     13.0
dtype: float64

In [119]:
# mind. 1 Mutation aus mutation_m2_to_m15_over_1 muss vorhanden sein (zusätzlich zu mutation_1)
mutation_1 = 'K3R'
# turn row names of counts_m2_to_m15_over_12 into a list
mutation_m2_to_m15_over_12_list = counts_m2_to_m15_over_12.index.tolist()


# pd series, wobei false für jedes Objekt
mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12 = pd.Series(False, index=df_mutants_with_specific_mutation.index)

for mutation in mutation_m2_to_m15_over_12_list:
    # Zeile enthält mind. 1 Element aus mutation_m2_to_m15_over_12_list
    mask_mind_2 = df_mutants_with_specific_mutation.isin([mutation_1, mutation]).sum(axis=1) >= 2
    mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12 |= mask_mind_2

df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12 = df_mutants_with_mutation_1_and_mutation_list[mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12]

print(df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12)

      DMS_score   m1     m2     m3     m4     m5     m6     m7     m8     m9  \
9      3.499501  K3R  D102G  Y151C  N170D  I229T   None   None   None   None
24     3.329587  K3R   D19G   N23S   E90G  E172G  T230A   None   None   None
74     1.428584  K3R   E34V   G35C  S147C  I229T   None   None   None   None
81     3.503790  K3R    E5K  N105D  D190H  I229T   None   None   None   None
86     3.399222  K3R    E5V   N23S  Y143H   None   None   None   None   None
119    3.562984  K3R   E17G   K79M  I229T   None   None   None   None   None
120    3.490331  K3R   E17G  V150A  K156R  I229T   None   None   None   None
270    1.301048  K3R   K26R   K41R  S147G  F165S  D216V  I229T   None   None
281    3.475398  K3R   K45R  K113R  M153V  A154V   None   None   None   None
292    3.559783  K3R   K79E  K113R  K162V   None   None   None   None   None
306    3.780010  K3R  K113R   None   None   None   None   None   None   None
307    3.685307  K3R  K113R  G232D   None   None   None   None   None   None
308    3.739301  K3R  K113R  H139R  Y143F  I171T  H231L   None   None   None
309    3.693744  K3R  K113R  I128V  K131E  Q204L   None   None   None   None
310    3.620640  K3R  K113R  N149S  K158E  N198S  T203A   None   None   None
311    3.743635  K3R  K113R  S147G  N164D   None   None   None   None   None
312    3.636824  K3R  K113R  V150A  N212T   None   None   None   None   None
338    3.724568  K3R    L7R  N144D  I229T   None   None   None   None   None
380    1.369147  K3R   L18Q  K113R  K162R   None   None   None   None   None
388    3.221703  K3R   L53P  K113R  I128V   None   None   None   None   None
398    1.302357  K3R   L42P   T50A  K113R  G138R  N164S   None   None   None
430    1.301030  K3R   G35D   K79E  K113E  T118I  I152V  F165S  D180G  N212S
436    1.560380  K3R  F100L  F130S  N149D  I229T   None   None   None   None
484    1.631251  K3R   I47N  L137P  V150I  L221Q  I229T   None   None   None
489    3.486355  K3R   I47T  I229T   None   None   None   None   None   None
511    3.360025  K3R   H25R   H77R   K79T  I229T   None   None   None   None
1072   1.301031  K3R   V16A   N23S   K26Q   F46S   F71I   F99I  I167T   None
1077   1.292121  K3R   V22A   N23S   M78V  K101R  G116S  D197V   None   None
1100   1.301030  K3R    T9A   I14V   F27L   S28C   K79E   H81R  D190E  N212Y
1103   3.694986  K3R    T9S   D76G  K113R  D117G  K162R  I167T  Y182N  D190N
1107   3.556671  K3R   V11A   M78V  K113R   None   None   None   None   None
1198   3.227733  K3R   N23S   E34G   T38S  D117H  M153K  K214E   None   None
1200   3.401687  K3R   N23S  F165S   None   None   None   None   None   None
1201   3.568452  K3R   N23S  K214E   None   None   None   None   None   None
1202   3.489817  K3R   N23S  N105I  F114L  V193A   None   None   None   None
1203   3.519519  K3R   N23S  N144S  K214M   None   None   None   None   None
1204   3.686642  K3R   N23S   Q80R   None   None   None   None   None   None
1205   1.707966  K3R   N23S   T59A  D216G   None   None   None   None   None
1206   3.546235  K3R   N23S  Y182N  F223Y   None   None   None   None   None
1210   1.301896  K3R   N23S   F83S  I136V  L141P  I161N  I167V   None   None
1211   1.559392  K3R   S28C   T62A   H81R  K113R  I152T   None   None   None

        m10   m11   m12   m13   m14   m15
9      None  None  None  None  None  None
24     None  None  None  None  None  None
74     None  None  None  None  None  None
81     None  None  None  None  None  None
86     None  None  None  None  None  None
119    None  None  None  None  None  None
120    None  None  None  None  None  None
270    None  None  None  None  None  None
281    None  None  None  None  None  None
292    None  None  None  None  None  None
306    None  None  None  None  None  None
307    None  None  None  None  None  None
308    None  None  None  None  None  None
309    None  None  None  None  None  None
310    None  None  None  None  None  None
311    None  None  None  None  None  None
312    None  None  None  None  None  None
338    None  None  None  None  None  None
380    None  None  None  None  None  None
388    None  None  None  None  None  None
398    None  None  None  None  None  None
430   I229T  None  None  None  None  None
436    None  None  None  None  None  None
484    None  None  None  None  None  None
489    None  None  None  None  None  None
511    None  None  None  None  None  None
1072   None  None  None  None  None  None
1077   None  None  None  None  None  None
1100  I229T  None  None  None  None  None
1103   None  None  None  None  None  None
1107   None  None  None  None  None  None
1198   None  None  None  None  None  None
1200   None  None  None  None  None  None
1201   None  None  None  None  None  None
1202   None  None  None  None  None  None
1203   None  None  None  None  None  None
1204   None  None  None  None  None  None
1205   None  None  None  None  None  None
1206   None  None  None  None  None  None
1210   None  None  None  None  None  None
1211   None  None  None  None  None  None

/var/folders/tn/1strgsg5455dq9n93kfzv8kh0000gn/T/ipykernel_59530/2572693167.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12 = df_mutants_with_mutation_1_and_mutation_list[mask_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12]

In [120]:
# individual df for every mutation (addition to mutation_1)
# create individual dfs for each value of mutation_m2_to_m15_over_12_list
data_frames = {}
for mutation in mutation_m2_to_m15_over_12_list:
    data_frames[mutation] = df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12[df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12.isin([mutation]).any(axis=1)]


# print individual dfs
for mutation, df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12_ind in data_frames.items():
    print(f"{mutation}")
    print(df_mutants_with_mutation_1_and_mutation_m2_to_m15_over_12_ind)
    print()

I229T
      DMS_score   m1     m2     m3     m4     m5     m6     m7     m8     m9  \
9      3.499501  K3R  D102G  Y151C  N170D  I229T   None   None   None   None
74     1.428584  K3R   E34V   G35C  S147C  I229T   None   None   None   None
81     3.503790  K3R    E5K  N105D  D190H  I229T   None   None   None   None
119    3.562984  K3R   E17G   K79M  I229T   None   None   None   None   None
120    3.490331  K3R   E17G  V150A  K156R  I229T   None   None   None   None
270    1.301048  K3R   K26R   K41R  S147G  F165S  D216V  I229T   None   None
338    3.724568  K3R    L7R  N144D  I229T   None   None   None   None   None
430    1.301030  K3R   G35D   K79E  K113E  T118I  I152V  F165S  D180G  N212S
436    1.560380  K3R  F100L  F130S  N149D  I229T   None   None   None   None
484    1.631251  K3R   I47N  L137P  V150I  L221Q  I229T   None   None   None
489    3.486355  K3R   I47T  I229T   None   None   None   None   None   None
511    3.360025  K3R   H25R   H77R   K79T  I229T   None   None   None   None
1100   1.301030  K3R    T9A   I14V   F27L   S28C   K79E   H81R  D190E  N212Y

        m10   m11   m12   m13   m14   m15
9      None  None  None  None  None  None
74     None  None  None  None  None  None
81     None  None  None  None  None  None
119    None  None  None  None  None  None
120    None  None  None  None  None  None
270    None  None  None  None  None  None
338    None  None  None  None  None  None
430   I229T  None  None  None  None  None
436    None  None  None  None  None  None
484    None  None  None  None  None  None
489    None  None  None  None  None  None
511    None  None  None  None  None  None
1100  I229T  None  None  None  None  None

K113R
      DMS_score   m1     m2     m3     m4     m5     m6     m7     m8     m9  \
281    3.475398  K3R   K45R  K113R  M153V  A154V   None   None   None   None
292    3.559783  K3R   K79E  K113R  K162V   None   None   None   None   None
306    3.780010  K3R  K113R   None   None   None   None   None   None   None
307    3.685307  K3R  K113R  G232D   None   None   None   None   None   None
308    3.739301  K3R  K113R  H139R  Y143F  I171T  H231L   None   None   None
309    3.693744  K3R  K113R  I128V  K131E  Q204L   None   None   None   None
310    3.620640  K3R  K113R  N149S  K158E  N198S  T203A   None   None   None
311    3.743635  K3R  K113R  S147G  N164D   None   None   None   None   None
312    3.636824  K3R  K113R  V150A  N212T   None   None   None   None   None
380    1.369147  K3R   L18Q  K113R  K162R   None   None   None   None   None
388    3.221703  K3R   L53P  K113R  I128V   None   None   None   None   None
398    1.302357  K3R   L42P   T50A  K113R  G138R  N164S   None   None   None
1103   3.694986  K3R    T9S   D76G  K113R  D117G  K162R  I167T  Y182N  D190N
1107   3.556671  K3R   V11A   M78V  K113R   None   None   None   None   None
1211   1.559392  K3R   S28C   T62A   H81R  K113R  I152T   None   None   None

       m10   m11   m12   m13   m14   m15
281   None  None  None  None  None  None
292   None  None  None  None  None  None
306   None  None  None  None  None  None
307   None  None  None  None  None  None
308   None  None  None  None  None  None
309   None  None  None  None  None  None
310   None  None  None  None  None  None
311   None  None  None  None  None  None
312   None  None  None  None  None  None
380   None  None  None  None  None  None
388   None  None  None  None  None  None
398   None  None  None  None  None  None
1103  None  None  None  None  None  None
1107  None  None  None  None  None  None
1211  None  None  None  None  None  None

N23S
      DMS_score   m1    m2     m3     m4     m5     m6     m7     m8    m9  \
24     3.329587  K3R  D19G   N23S   E90G  E172G  T230A   None   None  None
86     3.399222  K3R   E5V   N23S  Y143H   None   None   None   None  None
1072   1.301031  K3R  V16A   N23S   K26Q   F46S   F71I   F99I  I167T  None
1077   1.292121  K3R  V22A   N23S   M78V  K101R  G116S  D197V   None  None
1198   3.227733  K3R  N23S   E34G   T38S  D117H  M153K  K214E   None  None
1200   3.401687  K3R  N23S  F165S   None   None   None   None   None  None
1201   3.568452  K3R  N23S  K214E   None   None   None   None   None  None
1202   3.489817  K3R  N23S  N105I  F114L  V193A   None   None   None  None
1203   3.519519  K3R  N23S  N144S  K214M   None   None   None   None  None
1204   3.686642  K3R  N23S   Q80R   None   None   None   None   None  None
1205   1.707966  K3R  N23S   T59A  D216G   None   None   None   None  None
1206   3.546235  K3R  N23S  Y182N  F223Y   None   None   None   None  None
1210   1.301896  K3R  N23S   F83S  I136V  L141P  I161N  I167V   None  None

       m10   m11   m12   m13   m14   m15
24    None  None  None  None  None  None
86    None  None  None  None  None  None
1072  None  None  None  None  None  None
1077  None  None  None  None  None  None
1198  None  None  None  None  None  None
1200  None  None  None  None  None  None
1201  None  None  None  None  None  None
1202  None  None  None  None  None  None
1203  None  None  None  None  None  None
1204  None  None  None  None  None  None
1205  None  None  None  None  None  None
1206  None  None  None  None  None  None
1210  None  None  None  None  None  None